version: '3.8'

services:
  web:
    build: .
    env_file:
      - .env
    ports:
      - "8081:8081"
    volumes:
      - .:/usr/src/app
    command: go run ./main.go api
    environment:
      - PORT=8081
    
